html, body   {
margin: 0; padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 70px;
}

li {
  float: left;
  margin-top: -39px;
  margin-left: 10px;
}

li input {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  /* height:-90px; */
}

header nav a {
  display: inline-block;
  /*NPI*/
  color: #CFC9C8;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 100ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

header nav {
  float: center;
  line-height: 150px;
}

header nav a:hover {
  background-color: #f56f3a;
  border-radius: 50px;
}


footer{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 70px;
}
#footer {
  font-family:fantasy;
  font-variant-caps: normal;
  font-size: x-large;
  text-align: center;
}
.formulario{
  margin-top: 20px;
  margin-bottom: 146.5px;
}

.grupoForItem {
  margin-top: 10px;
}

.formNBA {
  margin-top: 10px;
}
